<!DOCTYPE html>
<head>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   <!-- Login CSS -->     
   <link type="text/css" rel="stylesheet" href="estiloLogin.css">  
</head>

<body>

    <div id="app">
        

        <nav class="navbar navbar-light bg-dark mb-3">
          <a class="navbar-brand h1 mb-4 text-white ">SABRE- BETA</a>
        </nav>


        <div class="wrapper fadeInDown">
            <div id="formContent" v-if="this.showLogin">

              <!-- Icon -->
              <div class="fadeIn first" >
                <img src="dado-remove.png" id="icon" alt="User Icon" />
              </div>
          
              <!-- Login Form -->
              <form @submit.prevent="login()">
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="username" v-model="user.username">
                <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" v-model="user.password">
                <input type="submit" class="fadeIn fourth" value="Log In">
              </form>
          
            </div>
          </div>

        <!-- TO DO -->
        <!-- If true show registered names -->
        <div class="escondidim" v-if='this.tabela'>
        <div class=" form-inline justify-content-center">
            <form class=" form text-center border border-light p-5 bg-dark text-white" @submit.prevent='registerTableTopName()'>
                <h2>{{ nome }} </h2>

                <p class="h2 mb-4">Cadastre um nome de ferramenta</p>

                <p class="h3 mb-4">{{ mensagem }}</p>

                <!-- Nome -->
                <input type="text" id="defaultContactFormName" class="form-control mb-4" 
                    placeholder="Nome" v-model="nome">



                <!-- Rpg -->
                <label>Plataforma preferida</label>
                <select class="browser-default custom-select mb-4">
                    <option value="" disabled>Escolha</option>
                </select>

                <button class="btn btn-block btn-secondary btn btn-outline-light" type="submit">Cadastrar</button>

            </form>

          </div>
          
          <br>
          <br>

            <table class="table table-striped table-dark ">
                <thead>
                    <tr>

                        <th scope="col">Nomes cadastrados</th>
                        
                        
                    </tr>
                </thead>
                <tbody v-for="nome in nomes" :key="nome.id">
                    <tr>

                        <td>{{ nome.name }}</td>
                        
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>

        // endpoint for name search
        const urlSugestao = "http://powerpush.com.br/sabre/api.dev/v1/sugestao";
        const urlLogin = "http://powerpush.com.br/sabre/api.dev/v1/user/login";

        var app = new Vue({
            el: '#app',
            tabela: false,
            data: {
                user: {
                    username: '',
                    password: ''
                },
                nomes: [{
                    id: '',
                    name: ''
                }],
                nome:'',
                mensagem: '',
                showLogin: true,
                idUser:''


 
            },
            mounted() {
                //call for the connection method as the vue get mounted
                this.fetchRegisteredNames()
                
            },
            methods: {

                //register a table top name sugestion
                registerTableTopName() {
                    this.tabela = true
                        axios.post(urlSugestao, this.nome)
                            .then((res) => {
                                console.log(this.nome)
                                console.log(res);
                                this.mensagem = res.data.message,
                                this.usuario.nome = '',
                                this.email = ''
                                this.conexao()
                            }).catch(err =>{
                                console.log(err);
                            })
                    

                },
                //fetch names from DB
                fetchRegisteredNames() {
                    axios.get(urlSugestao).then(res => {
                        this.nomes = res.data.suggestions

                    })
                },

                login(){
                  axios.put(urlLogin, this.user)
                  .then((res) => {
                    console.log(this.nome) 
                    this.idUser = res.data.user.id;
                    this.tabela = true;
                    this.showLogin = false
                    console.log(this.idUser)
                  })
                  .catch((err) =>console.log(err))


                }
            }

        })
    </script>

</body>
</html>
<style>

    tr {
        line-height: 25px;
        min-height: 25px;
        height: 25px;
    }

    body {
        height: 700px;
    }

    body {
        background-color: eee;
        font-family: source-sans-pro, sans-serif;
        background-image: url("back.jpg");
    }

    .table100,
    .row,
    .container,
    .table-responsive,
    .table-bordered {
        height: 100%;
    }

    .table {
        margin: auto;
        width: 50% !important;
    }


    * BASIC */

html {
  background-color: #56baed;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #cccccc;
}






</style>