<head>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <div id="app">

        <!-- Header Improvisado -->
        <div class="card text-white bg-dark mb-3">
            <div class="card-body header">
                <p class="h1 mb-4">SABRE - BETA</p>
            </div>
        </div>

        <!-- Cadastro de nomes -->
        <div class=" form-inline justify-content-center">
            <form class=" form text-center border border-light p-5 bg-dark text-white" @submit.prevent='send()'>

                <p class="h2 mb-4">Cadastre seu nome</p>

                <p class="h3 mb-4">{{ mensagem }}</p>

                <!-- Nome -->
                <input type="text" id="defaultContactFormName" class="form-control mb-4" v-model='usuario.nome'
                    placeholder="Nome">

                <!-- Email -->
                <input type="email" id="defaultContactFormEmail" class="form-control mb-4" v-model='email'
                    placeholder="Email">

                <!-- Rpg -->
                <label>Plataforma preferida</label>
                <select class="browser-default custom-select mb-4">
                    <option value="" disabled>Escolha</option>
                    <option value="1" selected>D&D</option>
                    <option value="2">Vampiro: A Máscara</option>
                    <option value="3">Tormenta</option>
                    <option value="4">Demônio: A queda</option>
                </select>

                <button class="btn btn-block btn-secondary btn btn-outline-light" type="submit">Cadastrar</button>

            </form>
 

        </div>

        <!-- Se tabela for verdadeiro exibe os nomes cadastrados -->
        <div class="escondidim" v-if='this.tabela'>


            <table class="table table-striped table-dark ">
                <thead>
                    <tr>

                        <th scope="col">Nomes cadastrados</th>
                        <th scope="col">Plataforma Principal</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody v-for="nome in nomes" :key="nome.id">
                    <tr>

                        <td>{{ nome.name }}</td>
                        <td> Vampiro: A Máscara</td>
                        <td> sambadilovime69@gmaiul.com</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>

        // endpoint para buscar e cadastrar os nomes 
        const url = "http://powerpush.com.br/sabre/api.dev/v1/sugestao";

        var app = new Vue({
            el: '#app',
            tabela: false,
            data: {
                usuario: {
                    nome: 'Nome'
                },
                email: 'Email',
                nomes: [{
                    id: '',
                    name: ''
                }],
                mensagem: ''
            },
            mounted() {
                //chama a lista de nomes assim que o componente é criado
                this.conexao()
            },
            methods: {
                send() {
                    this.tabela = true
                    //Verifica se o nome já está cadastrado, se não estiver sugere um nome cadastrável
                    if (this.nomes.some(nomes => nomes.name.toUpperCase() === this.usuario.nome.toUpperCase())) {
                        this.mensagem = `Este nome de usuário já está sendo utilizado, que tal ${this.usuario.nome}69?`
                    } else {
                        this.mensagem = 'Nome liberado para cadastro'
                        axios.post(url, this.usuario)
                            .then(() => {
                                this.usuario.nome = '',
                                    this.email = ''
                                this.conexao()
                            })
                    }

                },
                conexao() {
                    // busca os nomes
                    axios.get(url).then(res => {
                        this.nomes = res.data.suggestions

                    })
                }
            }

        })
    </script>

</body>

<style>

    tr {
        line-height: 25px;
        min-height: 25px;
        height: 25px;
    }

    body {
        height: 700px;
    }

    body {
        background-color: eee;
        font-family: source-sans-pro, sans-serif;
        background-image: url("back.jpg");
    }

    .table100,
    .row,
    .container,
    .table-responsive,
    .table-bordered {
        height: 100%;
    }

    .table {
        margin: auto;
        width: 50% !important;
    }
</style>